<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="AppEntumundo.My.MySettings.MembershipConnectionString" connectionString="Data Source=localhost;Initial Catalog=Membership;Persist Security Info=True;User ID=sa;Password=Home2019_" providerName="System.Data.SqlClient" />
    <add name="AppEntumundoEntities" connectionString="metadata=res://*/Model_AppEntumundo.csdl|res://*/Model_AppEntumundo.ssdl|res://*/Model_AppEntumundo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=AppEntumundo;persist security info=True;user id=sa;password=Home2019_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>